#outer-div{
    background-color: #93B2FF;   
    height:100%;
    width:100%;
    
}

body{
    overflow: hidden;
}

#padding-div{
    padding: 10%;
}

.about-text{
    text-align: center;
    padding: 2%;
}

#return-text{
    padding-top: 4%;
    color: white;
    font-size:120%;
}


