html {
    height: 100%;
}

#title{
    position:absolute;
    top: 0;
    left:45%; 
}

h3{
    position:absolute;
    top:1%;
    left:2%;
}

body {
    text-align: center;
    height: 100%; 
}

#top-div{
    background-color: #93B2FF;
    height: 20%;
    width: 100%;
}
#main-div{
    overflow: auto;
    background-color: #6F97FE;
    height: 80%;
    width: 100%;
}

#top-inner-div{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#find-button{
    background-color: #EA7A3B;
    opacity: 0.7;
    padding-left: 1%;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    border-radius: 5px;
    
}

.flight-container{
    position: sticky;
    background-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    height: 10%;
    width: 80%;
    border-radius:15px;
}

.flight-text{
    font-size: 125%;
}


.buy-button{
    width: 200%;
    line-height: 25px;
    background-color: #EA7A3B;
    opacity: 0.7;
    text-align: center;
    border-radius: 5px;
    font-size:130%;

}

.text-div{
    display: inline-block;
    margin-top: 0.8%;
    margin-bottom: 1%;
    margin-left:3%;
    margin-right:6.5%;
}


button{
    margin-top: 0%;
}

input{ 
  line-height: 25px;
  display: inline; 
  border-radius: 5px;
  background-color: #FFE2A7;
  margin-right: 2%;
  margin-top: 8%;
  padding: 4px;
  text-align:center;
}
